body{
    color: #e0e0e0;
    text-shadow: 2px 1px 2px #111010;
    
    
   
}

.title{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
}

#main{
  height: 100vh;
  background-size: cover; /* Stretches the image to fit the container */
  background-position: center;
  background-repeat: no-repeat;

}

.sub-main{
    height: 100%;
    align-items: center;

}

#plot{
    font-family: "Josefin Sans", sans-serif;
}


li{
    font-family: "Josefin Sans", sans-serif;
    display: inline-block;
    list-style: none;
}

.poster-img{
    border: 2px solid brown ;
    height: 300px;
    width: 200px;
}

.effect {
    background: rgba(255, 255, 255, 0);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.loading-bar-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    overflow: hidden;
}

.loading-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    animation: loading 15s linear infinite;
    border-radius: 5px;
}

@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/*Circle progress bar */

#svg circle {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
    stroke: #666;
    stroke-width: 1em;
  }
  #svg #bar {
    stroke: #FF9F1E;
  }
  #cont {
    display: block;
    height: 200px;
    width: 200px;
    margin: 1em auto;
    box-shadow: 0 0 1em black;
    border-radius: 100%;
    position: relative;
  }
  #cont:after {
    position: absolute;
    display: block;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    box-shadow: inset 0 0 1em black;
    content: attr(data-pct)"%";
    margin-top: -80px;
    margin-left: -80px;
    border-radius: 100%;
    line-height: 160px;
    font-size: 2em;
    text-shadow: 0 0 0.5em black;
  }
  

  
  .roter{
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;  
     color: #fff; height: 100%;
      text-align: center;
  }
  
 

